/* Основной фон сайта */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5dc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

/* Заголовок страницы */
.page-title {
    color: #333;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

/* Контент */
.content {
    width: 80%;
    max-width: 800px;
    font-size: 16px;
    line-height: 1.6;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Стили для текста */
.content p, .content ul {
    margin: 15px 0;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

li {
    margin: 5px 0;
}

/* Стили для изображений */
.images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
}

.images img {
    width: 45%; /* Адаптивные изображения */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    padding: 10px;
}
